body {
  font-family: 'arial';
}

tr {
  border-bottom: 1px solid black;
}

label {
  padding: .25rem;
}

p {
  margin: 0;
}

#search {
  margin-left: 1rem;
  font-size: 1.25rem;
  border-radius: 2px;
  width: 50%;
  min-width: 300px;
  padding: .25rem;
}

#search, #search:focus {
  border: 1px solid black;
}

button {
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid black;
  padding: .25rem .5rem;
  margin: .25rem 0;
  background-color: white;
}