.App {
  margin: 20px;
}

.Movies {
  text-align: left;
  display: block;

}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
}

li{
  clear: both;
}