form {
  margin: 5px auto;
  test-align: center;
}
ul {
  border: 5px groove #828282;
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-evenly;
  align-items: center;
  text-align: center;
  list-style-type: none;
  overflow: scroll;
  max-height: 455px;
}

li * {
  display: block;
  margin: 5px;
}

img {
  border: none;
  margin: auto;
}

li div {
  border: 4px groove #848282;
  width: 150px;
  height: 200px;
  overflow: hidden;
}